<div class="Box Box__notification row <%= 'Box__yellow' if notification.notification_type == "new_user" %> <%='Box__red' if notification.notification_type == "new_project" %>">
  <div class="col-2">
    <%= notification.created_at.strftime("%e.%m.%Y")%>
  </div>
  <div class="col-2 text-uppercase">
      <%= notification.notification_type == "new_project" ? "Добавлено проект" : notification.notification_type == "new_user" ? "Новий працівник" : notification.notification_type == "join_to_project" ? "Приєднався до проекту" : "Взяв до виконання"%>
  </div>
  <% if ["Project", "User"].include?(notification.object_type) %>
    <div class="col-4">
      <%= link_to notification.object.name, notification.object, class:"fw-bold text-uppercase"%>
    </div>
  <%else%>
    <div class="col-4 fw-bold text-uppercase">
      <%= notification.object.name %>
    </div>
  <%end%>
  <% if ["User"].include?(notification.sub_object_type) %>
    <div class="col-3 ms-5 ps-5 text-end fw-bold color__gray text-uppercase">
      <%= link_to notification.sub_object.name, notification.sub_object %>
    </div>
  <%else%>
  <%end%>
  <% if notification.notification_type == "new_user"%>
    <div class="col-3 ms-5 ps-5 text-end fw-bold color__gray text-uppercase">
      <%= notification.object.position%>
    </div>
  <%end%>
</div>
